body{
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    display: block;
}

li{
    display: inline;
    padding: 5em;
}

.contact-block{
    margin: 30px 0;
}

